<!DOCTYPE html>
{% load qr_code %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roboy Payments</title>
    <style>
        body {
          font-family: Sans-Serif;
        }
        code.multiline {
          display: block;
          white-space: pre-wrap
        }
        td {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
{% block content %}
    <h1>Roboy Payments</h1>

    {% qr_from_text invoice_id %}

    {{ test }}
{% endblock %}
</body>
</html>